{% extends "base.html" %}

{% block title %}
  About Us
{% endblock %}

{% block content %}
<div class="container-fluid d-flex align-items-center justify-content-center gradient-bg " style="height: 80vh;">
    <div class="card text-center p-4 shadow-lg" style="max-width: 600px;">
        <div class="card-body">
            <h2 class="card-title">About MBSA</h2>
            <p class="card-text">
                The MBSA is a student organization dedicated to providing opportunities for students to engage in various activities, including arts, cultural programs, and expert talks. Our mission is to foster talent, creativity, and leadership among students through a variety of events and initiatives.
            </p>
            <p class="card-text">
                Established in [Year], MBSA has grown to become a vibrant community, offering platforms for students to showcase their skills and connect with like-minded peers. Whether it's participating in our annual Destino event or attending expert talks, there's something for everyone at MBSA.
            </p>
        </div>
    </div>
</div>
{% endblock %}
