{% extends "base.html" %} 
{% block title %} MBSA {% endblock %}
{% block content  %}
<div class="container">
  <div
  id="carouselExampleFade"
  class="carousel slide carousel-fade"
  data-bs-ride="carousel"
  data-bs-interval="3000"
  style="border-radius: 15px; overflow: hidden; height: 550px; width: 100%;"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a href="{% url 'destino' %}">
        <img
        src="media/images/usthad.jpeg"
        class="d-block w-100"
        alt="..."
        style="border-radius: 15px"
      />
      </a>
    </div>
    <div class="carousel-item">
      <a href="{% url 'destino' %}">
        <img
        src="media/images/banner.jpeg"
        class="d-block w-100"
        alt="..."
        style="border-radius: 15px"
      />
      </a>
    </div>
    <div class="carousel-item">
      <a href="{% url 'destino' %}">
        <img
        src="media/images/rainy-ihsan.jpeg"
        class="d-block w-100"
        alt="..."
        style="border-radius: 15px"
      />
      </a>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleFade"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleFade"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>

{% endblock %}
